body {
  background-color: #f8f9fa;
}

.cafe-card {
  transition: transform 0.3s;
}

.cafe-card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
.hero {
    height: 400px;                 
    background-image: url('cafe2.avif');  
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); 
  }

  .hero-text {
    position: relative;
    z-index: 1;
  }

  .offer-card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.offer-card:hover {
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  transform: translateY(-5px);
}

.offer-card h5,
.offer-card h6 {
  margin-top: 10px;
  font-weight: 600;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 ratio */
  position: relative;
  height: 0;
  border-radius: 12px;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}